
# Listener
node-name: {{ ansible_hostname }}
node-ip: {{ rke2_cluster_node.address }}
node-external-ip: {{ rke2_cluster_node.address }}
bind-address: {{ rke2_cluster_node.address }}
advertise-address: {{ rke2_cluster_node.address }}