{%- set check_interval = "30s" -%}
{%- set wait_interval = "60s" -%}
[Unit]
Description=Periodic health check for kube-apiserver VIP %i

# Stop if kube-apiserver VIP service becomes inactive
BindsTo=vip-kube-apiserver@%i.service

[Timer]
# Check kube-apiserver health status...
Unit=vip-kube-apiserver-hc@%i.service
# ...every {{ check_interval }}
OnUnitActiveSec={{ check_interval }}

# Waiting for start checking
OnActiveSec={{ wait_interval }}