{%- set hc_command = "/bin/true" -%}
{%- set vip_service_name = "vip-kube-apiserver@%i.service" -%}
[Unit]
Description=Health check for kube-apiserver VIP %i

After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

# Skipping health check if VIP service is inactive
ExecCondition=/bin/sh -c 'systemctl --quiet is-active {{ vip_service_name }}'

# Performing health check
# If health check passes and VIP service is inactive, start VIP service
# If health check fails and VIP service is active, stop VIP service
ExecStart=/bin/sh -c '\
  if {{ hc_command }}; then \
    systemctl start {{ vip_service_name }}; \
  else \
    systemctl stop {{ vip_service_name }}; \
  fi'