---
# tasks/bird.yml

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto
  become: true

- name: Set bird_installed fact
  ansible.builtin.set_fact:
    bird_installed: "{{ 'bird' in ( ansible_facts.packages | default({}) ) }}"

- name: Set epel_installed fact
  ansible.builtin.set_fact:
    epel_installed: "{{ 'epel-release' in ( ansible_facts.packages | default({}) ) }}"

- name: Install EPEL if needed
  ansible.builtin.package:
    name: epel-release
    state: present
  become: true
  when:
    - not epel_installed
    - not bird_installed

- name: Install BIRD if needed
  ansible.builtin.package:
    name: bird
    state: present
  become: true
  when:
    - not bird_installed

- name: Uninstall EPEL if needed
  ansible.builtin.package:
    name: epel-release
    state: absent
  become: true
  when:
    - not epel_installed

- name: Render BIRD configuration
  ansible.builtin.template:
    src: bird.conf.j2
    dest: /etc/bird.conf
    owner: root
    group: root
    mode: "0644"
  notify: bird_config_changed

- name: Enable and Start BIRD
  ansible.builtin.service:
    name: bird
    enabled: true
    state: started
  become: true
