---
# tasks/bird.yml
# Installazione controllata di BIRD senza alterare permanentemente il sistema
# Requisiti: ansible_os_family == 'RedHat' e routing_backend == 'ospf'

- name: Check if epel-release is installed
  package_facts:
  become: true

- name: Checking BIRD installation status
  when:
    - "'bird' not in ansible_facts.packages"
  set_fact:
    bird_installed: false
  else:
    - set_fact:
        bird_installed: true

- name: Checking EPEL installation status
  when:
    - "'epel-release' not in ansible_facts.packages"
  set_fact:
    epel_installed: false
  else:
    - set_fact:
        epel_installed: true

- name: Install EPEL if needed
  when:
    - not epel_installed
    - not bird_installed
  package:
    name: epel-release
    state: present

- name: Install BIRD if needed
  when:
    - not bird_installed
  package:
    name: bird
    state: present

- name: Uninstall EPEL if needed
  when:
    - not epel_installed
  package:
    name: epel-release
    state: absent

- name: Render BIRD configuration
  template:
    src: bird.conf.j2
    dest: /etc/bird.conf
    owner: root
    group: root
    mode: "0644"
  notify: bird_config_changed

- name: Enable and Start BIRD
  service:
    name: bird
    enabled: true
    state: started
  become: true