---
# roles/ip-fabric/tasks/main.yml

- name: "Run nmstate backend if requested"
  include_tasks: nmstate.yml
  when:
    - ip_fabric is defined
    - ip_fabric.net_conf_backend | default('none') == 'nmstate'
