---
# roles/ip-fabric/tasks/main.yml

- name: "Run nmstate backend if requested"
  include_tasks: nmstate.yml
  when:
    - ip_fabric is defined
    - ansible_os_family == 'RedHat'

- name: Install BIRD for OSPF underlay
  include_tasks: bird.yml
  when:
    - ip_fabric is defined
    - ansible_os_family == 'RedHat'
