# Gather all facts
- name: Gather VyOS facts
  vyos.vyos.vyos_facts:
    gather_subset: all
    gather_network_resources: all

- name: configure the remote device
  connection: network_cli
  vyos.vyos.vyos_config:
    lines:
      - set protocols ospf interface eth1 area '0.0.0.0'
      - set protocols ospf interface eth1 priority '255'
      - set protocols ospf interface lo area '0.0.0.0'
      - set protocols ospf interface lo passive
