# tasks/main.yml
---
- name: Merge oob_mgmt defaults with overrides
  set_fact:
    oob_mgmt: "{{ __oob_mgmt_defaults | combine(oob_mgmt | default({}), recursive=True) }}"

- name: Install & Configure LLDP
  when:
    - ansible_facts.os_family in ["RedHat"]
    - oob_mgmt.lldp.enabled | bool
    - oob_mgmt.lldp.backend in ["lldpd"]
  include_tasks: lldpd.yml

- name: Install & Configure NMState
  when:
    - ansible_facts.os_family in ["RedHat"]
    - oob_mgmt.nmstate.enabled | bool
  include_tasks: nmstate.yml