---
- name: Add RKE2 repository configuration
  ansible.builtin.template:
    src: rancher-rke2.repo.j2
    dest: /etc/yum.repos.d/rancher-rke2.repo
    mode: '0644'
  become: true

- name: Install RKE2 Server package on control plane hosts
  when:
    - ( rke2_cluster_node.role | default('agent', true) ) in ['server', 'bootstrapper' ]
  become: true
  ansible.builtin.dnf:
    enablerepo: "rancher-rke2-*"
    state: present
    name:
      - rke2-server


- name: Install Unit vip-kube-apiserver@.service
  when:
    - ( rke2_cluster_node.role | default('agent', true) ) in ['server', 'bootstrapper' ]
  ansible.builtin.template:
    src: vip-kube-apiserver@.service.j2
    dest: /etc/systemd/system/vip-kube-apiserver@.service
    owner: root
    group: root
    mode: "0644"

- name: Install Unit vip-kube-apiserver-hc@.service
  when:
    - ( rke2_cluster_node.role | default('agent', true) ) in ['server', 'bootstrapper' ]
  ansible.builtin.template:
    src: vip-kube-apiserver-hc@.service.j2
    dest: /etc/systemd/system/vip-kube-apiserver-hc@.service
    owner: root
    group: root
    mode: "0644"

- name: Install Unit vip-kube-apiserver-hc@.timer
  when:
    - ( rke2_cluster_node.role | default('agent', true) ) in ['server', 'bootstrapper' ]
  ansible.builtin.template:
    src: vip-kube-apiserver-hc@.timer.j2
    dest: /etc/systemd/system/vip-kube-apiserver-hc@.timer
    owner: root
    group: root
    mode: "0644"

- name: Reload systemd units
  when:
    - ( rke2_cluster_node.role | default('agent', true) ) in ['server', 'bootstrapper' ]
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start VIP timer
  when:
    - ( rke2_cluster_node.role | default('agent', true) ) in ['server', 'bootstrapper' ]
  ansible.builtin.systemd:
    name: vip-kube-apiserver-hc@{{ rke2_clusters[rke2_cluster_node.cluster].vip.address }}.timer
    enabled: false
    state: started











- name: Install RKE2 Agent package on worker hosts
  when:
    - ( rke2_cluster_node.role | default('agent', true) ) in ['agent' ]
  become: true
  ansible.builtin.dnf:
    enablerepo: "rancher-rke2-*"
    state: present
    name:
      - rke2-agent