---
interfaces:
  - name: {{ fabric.network.interface }}
    alt-names:
      - name: {{ fabric.name }}
    type: ethernet
    state: up
    description: "Fabric {{ fabric.name | upper }} underlay link (role={{ fabric.role }})"
    profile-name: {{ fabric.name }}
    ipv4:
      enabled: true
      dhcp: false
      address:
        - ip: {{ fabric.network.address }}
          prefix-length: {{ fabric.network.length }}
    ipv6:
      enabled: false
    lldp:
      enabled: true
